<div class="allPage"> 
  <h1>Equipment</h1>
  <h2 style="margin-top: 50px;">部室の使い⽅</h2>
  <div style="white-space: pre-wrap">
  1. 部室が使える時 帯は8：30〜21：00
 （延⻑申請が出ていれば22：00まで使⽤可能） 

  2. 部室の予約はGoogleカレンダーを使って⾏う
  ・タイトルには「○期 名前」を⼊れる
  ・練習は1回2時間まで、週に4時間まで
  ・例外として、上の時間以上練習したいときに他の予約が⼊っていなければ
  当⽇0：00以降、タイトルに⼀⾔追加してからなら予約しても良い
    (例:誰も⼊っていないのでもう2時間使⽤させていただきます )
  ・基本1週間前から予約可 
    (バンド練習などでバンドメンバー全員が集まれるのが2週間後しかない
  という場合などは2週間後に予約するのも可)
  ・Googleカレンダーで予約せずに部室に⼊ることは原則禁⽌とする

  3.ブレーカーの上げ下げは丁寧に⾏う

  4. 説明を受けていない機材は使⽤不可

  5.楽器を演奏している時はドアと窓ををしめる

  6.機材が壊れてしまった場合は速やかに部⻑に報告する

  7.部室に私物を置く場合はLINEグループで報告する

  8. 部室を使い終わったら室内を軽く掃除する

  9. 部室を施錠する際は、機材などは全て元通りか、窓の施錠はしてあるかなど
  の確認を必ず⾏う
   (特にPA やアンプの電源切り忘れが多いので必ず確認すること)

  10. 部員ではない⼈を部室に⼊れる際は必ず部⻑に連絡する

  11.  部費を払っていない⼈は部室の使⽤を禁⽌する

  </div>
  <div style="white-space: pre-wrap">
  <h2>機材の使い⽅</h2>
   <h3 style="margin-bottom: 0;">◎ギターアンプ</h3>
   <h4>1.Blackstar ID:100 TVP</h4>
   <h5>  1.1. 使い⽅</h5>
   ①機材が適切に接続しているかを確認。
   ・アンプのコンセント
   ・アンプとキャビネット間のスピーカーケーブル
   ・アンプとギター間のシールド
   ・アンプとフットスイッチのシールド
   ②MASTERのVolumeノブが0になっていることを確認
   ③POWERをONにする。
   ④各⾃好きに⾳作りをする。
   <h5>  1.2. ⽚付け⽅</h5>
   ①すべてのノブを0にする。(次の⼈が使いやすいように) 
   ②POWERをオフにする。
   <h5>  1.3.⾳作りのやり⽅</h5>
   あくまで個⼈的なやり⽅ですがわからない⼈は参考にしてください。
   ・初⼼者⽤
   ① MASTERのvolumeノブを9〜10時⽅向に回す。
   ② EQのBass, Middle, Trebleをすべて12時⽅向に回す。
   ③ GAINとVOLUMEのLevelを好きな⾳量になるまで回す。
   ④TVPボタンをクリックする。
   ⑤VPノブを回して6L6(僕の好み)にセット。
   ⑥VOICEにて好きな⾳⾊を決める(回せば⾳の違いわかる)
   ⑦EQ, GAINを好きな⾳⾊になるように微調整(ここは感覚) 。
   ⑧ISFをとりあえず真ん中にする。
   ・中級〜上級者⽤(⾳作りはできると思うのでISFとTVPの説明だけ)
   ISFノブやTVPノブはブラックスターならではのノブなので、初めてみた⽅
   はわからないと思います。なので、ここに追記しておきます。ISFはベース、
   ミドル、トレブルと連動して働き、独⾃の⾳⾊が選べます。左⽅向に回すと
   タイトなボトムエンドとアグレッシブなミドルのモダンなアメリカンサウン
   ド、右⽅向に回すと、より箱鳴り感のあるブリティッシュサウンドになりま
   す。TVPノブは簡単にいうと、パワー管のシミュレートしたものです。この
   ボタンをつけることによって真空管アンプと同じような⾳圧を体験できます。
   それぞれどんな⾳が出るのかは以下の表を参考にしてください。
   <h4>2. JC-120</h4>
   <h5>  2.1. 使い⽅</h5>
   ①機材が適切に接続しているかを確認。
   ・アンプのコンセント
   ・アンプとギター間のシールド
   ②全てのノブが0になっていることを確認
   ③POWERをONにする。
   ④各⾃好きに⾳作りをする。
   <h5>  2.2. ⽚付け⽅</h5>
   ①全てのノブを0にする。(次の⼈が使いやすいように)
   ②POWERをオフにする。
   <h3 style="margin-bottom: 0;">◎ベースアンプ</h3>
   <h4>Ampeg BA-115 </h4>
   <h5>  1.使い⽅</h5>
   ① 全てのノブを0にする
   ②シールドをアンプのinputとベースに挿す(シールドはベースのストラッ
   プに引っ掛けて使⽤する)
   ③Power をオンにする
   ④Volume, Bass, Mid, Treble のノブをとりあえず12時の⽅向にする
   (Volume→全体の⾳量、Bass→低⾳域の⾳量 、Mid→中⾳域の⾳
   Treble→⾼⾳域の⾳量)
   <h5>  2.⽚付け⽅</h5>
   ①全てのノブを0にする
   ②Power をオフにする
   ③シールドをアンプ、ベースから抜く
   <h3 style="margin-bottom: 0;">◎キーボード<h3>
   <h4>1 段⽬Roland JUNO-G、2 段⽬ Roland XV-88)</h4>
   <h5>  1.使い⽅</h5>
   ①ノブが0になっているか確認
   ②シールドをアンプのCH1にあるL(MONO)とキーボードのOUTPUTに
   あるL(MONO)に挿す
   ③キーボードの裏側にあるPOWERとアンプのPOWERをオンにする
   ④アンプのCH1にあるノブとMASTER CONTROL にあるVOLUME と、
   キーボードのVOLUMEを調整
   <h5>  2.⽚付け⽅</h5>
    電源を⼊れる手順と逆順で消す
   <h3 style="margin-bottom: 0;">◎ドラム<h3>
   <h5>  1.使い⽅</h5>
   ①ハイハットのネジをしめる
   ②スネアのスナッピーをあげる
   <h5>  2.⽚付け⽅</h5>
   ハイハットのネジを緩めて、スネアのスナッピーを切る
   <h3 style="margin-bottom: 0;">◎PA</h3>
   <h5>  1.使い⽅</h5>
   ①上から2番⽬の機械の電源を⼊れる
   ②上から3番⽬の機械の電源を⼊れて、CH1 とCH2 のノブを印まであげる
   ③1番上の機械の裏側にあるPOWERスイッチをON にする
   ④マイクを使いたいとき:マイクケーブルをCH1 にあるMIC とマイクに挿す
   　⾳源を流したいとき:CH15/16に挿さっているシールドをスマホ等に挿す
   ⑤Mute を解除
   ⑥MAINMIXと各番号の⾳量バーを調整する
  </div>
  <h2 style="margin-top: 50px;">Webページに関して</h2>
  <p style="text-align: center;">何かございましたらこちらにご連絡ください。</p>
  <p style="text-align: center;">＜平野 快聖：when.rains.pours@gmail.com＞</p>
  <p style="margin-top:50px"></p>
</div>
