<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>C U O</h3>
                <p>© Copyright by Comfort Utopian Orchestra</p>
            </div>
            <div class="col-md-4">
                <p class="text-right social"><i class="typcn typcn-social-facebook-circular"></i><i class="typcn typcn-social-twitter-circular"></i><i class="typcn typcn-social-tumbler-circular"></i><i class="typcn typcn-social-github-circular"></i><i class="typcn typcn-social-dribbble-circular"></i></p>
            </div>
        </div>
    </div>
</footer>
