<section id="news" class="blog wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>What is CUO?</h2>
                <p>CUOという名前を聞いただけでは、何をするサークルなのかよく分からないですよね？CUOの正式名称は「Comfort Utopian Orchestra」、「お気楽極楽楽団」で す。要するに何でもありの軽音楽系サークルです。
ジャズをやっているバンドがあるかと思えば激しいロックを聴かせてくれるバンドもあったり、 ゲーム音楽をやっちゃったり変な楽器を持ち出して演奏してみたり…それが「音楽」であればあとはその人のやる気次第。 オリジナル曲を演奏している人たちもいたりします。</p>
                <p>「楽しそうだけど、楽器の経験もないし……」と思っている人も いるかと思いますが、心配しなくても大丈夫です。 現在活動中の部員も半分くらいは大学に入ってから楽器を始めていますが、 みんな楽しく演奏活動をしていますよ。 具体的なフォローとしては毎年春に「ごちゃ混ぜバンド演奏会」 というイベントで新入生のバンド初体験をサポートしています。 ですから気後れせずに声をかけてくださいね。</p>
                <a href="https://twitter.com/CUO_aizu?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @CUO_aizu</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-md-5">
                <a class="twitter-timeline" href="https://twitter.com/CUO_aizu?ref_src=twsrc%5Etfw" width="400px" height="600px">Tweets by CUO_aizu</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</section>
