<div style="text-align:center" class="c">
  <p class="d"></p>

    <h1>C U O</h1>
    <h2>  Comfort Utopian Orchestra</h2>
    <p>CUOの公式webサイトです。</p>
    <p>入部希望の方はこちらのDMまで</p>
    <p>
      <a href="https://twitter.com/CUO_aizu? ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Eprofile%3ACUO_aizu&ref_url=http%3A%2F%2Fweb-ext.u-aizu.ac.jp%2Fcircles%2Fcuo%2F" >
      cuoの公式アカウント
      </a>
    </p>
  <p>
    <a href="https://twitter.com/CUO_aizu?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Eprofile%3ACUO_aizu&ref_url=http%3A%2F%2Fweb-ext.u-aizu.ac.jp%2Fcircles%2Fcuo%2F">
    <%= image_tag 'Twitter.jpg', size: '200x65'%>
    </a>
  </p>
</div>
