<div class="allPage" style="text-align:center">
  <%= render 'shared/carousel' %>
  <h2>C U O</h2>
  <h2>Comfort Utopian Orchestra</h2>
  <p>CUOの公式webサイトです。</p>
  <p>入部希望の方はTwitterでDMください。</p>
  <p>
    <a href="https://twitter.com/CUO_aizu?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @CUO_aizu</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>
  <a class="twitter-timeline" href="https://twitter.com/CUO_aizu?ref_src=twsrc%5Etfw" width="600px" height="800px">Tweets by CUO_aizu</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
