<div class="title">
    <h2 >Equipment</h2>
</div>
<div class="container">
  <div style="margin-top: 80px;"></div>
  <% @environments.each do |environment| %>
        <h3 class="col-md-12"  style="text-align: center;"><%= environment.title1 %></h3>
        <h4 class="col-md-12"  style="margin-bottom: 0;font-size:"><%= environment.title2 %></h4>
        <h5 class="col-md-12"  style="margin-bottom: 0;margin-left: 10px;"><%= environment.title3 %></h5>
        <div style="white-space: pre-wrap;margin-left: 40px;"><%= environment.text%></div>
      <% end %>
  <div style="text-align: center;">
  <h3  style="text-align: center;margin-top: 80px;">Webページに関して</h3>
  <p>何かございましたら下記連絡先までご連絡ください。</p>
  <p>丁寧に作るつもりでしたが気力が追いつかずにUIや使い勝手等かなり手が抜けた感じになってますことご容赦ください。</p>
  <p>もともと就活のために作成したサイトなので拙い作りはありますが皆様の助けになれば幸いです。</p>
  </div>
  <div style="text-align: right;">2022/2/10</div>
  <p style="text-align: center;">＜平野 快聖：when.rains.pours@gmail.com＞</p>
  <p style="margin-top:50px"></p>
</div>
