 @import 'bootstrap';
 body {
     background-color: $light;
 }
 
 h1 {
     font-weight: 700;
     margin-top: 80px;
     font-size: 30px;
     text-align: center;
 }
 
 .allPage {
     width: 800px;
     margin: auto;
 }